@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes buttonHover {
  from {
    background-color: #007bff;
  }
  to {
    background-color: #0056b3;
  }
}

body {
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s ease-in-out;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2); /* Transparent white */
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); /* Blurry effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
  animation: fadeIn 1s ease-in-out;
}

h1 {
  text-align: center;
  color: #cd1717;
  animation: slideIn 1s ease-in-out;
  font-family: sans-serif;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  animation: fadeIn 1s ease-in-out;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #210202;
}

.form-group input {
  width: 97%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.2s;
  color: #000;
  background-color: #fcfcfc49;
}


.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  max-width: fit-content;
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  animation: fadeIn 1s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.comments {
  list-style-type: none;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.comment {
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

.comment p {
  margin: 0;
  margin-bottom: 10px;
  color: #210202;
}

.comment strong {
  font-weight: bold;
  color: #210202;
}

.replies {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  padding-left: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.reply {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #210202;
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .form-group label, 
  .form-group input {
    font-size: 14px;
  }

  .button {
    padding: 8px 10px;
    font-size: 14px;
  }

  .comment {
    padding: 10px;
  }

  .reply {
    padding: 8px;
  }
}
